{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2>Welcome to the Playlist App!</h2>
    <p>
      This app will allow users to create and maintain a collection of playlists.
    </p>
  
    <img src="https://cdn.glitch.global/79da02fa-4d20-4467-9d6a-5545c65c3c00/HD-wallpaper-colors-of-music-bars-colorful-measure-sound-refection-abstract-lights-sparkle-beams-rays-bright-beat-color-beats-musical%20(1).jpg?v=1705398704830" class="ui centered image">
</section>