html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
}

.hide, .hidep{
  display: none;
}

.name{
  padding-top:22.5px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}

.profilepic{
  padding-top:15px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
}